<div class="navbar-lewagon">
  <p>we are pride <i class="fas fa-rainbow"></i> </p>
  <div class="btn-group">
    <a href="#" class="btn-pill-left text-center">map</a>
    <a href="/posts" class="btn-pill-right text-center">feed</a>
    <a href="#" class="text-center"><i class="fas fa-search"></i></a>
  </div>
</div>
