<%= render 'post_menu' %>
<div class="announcement">
  <h3>tell us who you are, what you're fighting for, your dreams,
  your pride, and how you celebrate.</h3>
</div>

<div class="form-container">
  <%= render 'form' %>
</div>
